.btn {
  width: 60%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 95%);
  border-style: none;
  
}

.sedans .btn {
  color: hsl(31, 77%, 52%);
}

.suvs .btn {
  color: hsl(184, 100%, 22%)
}

.luxury .btn {
  color: hsl(179, 100%, 13%)
}

/* Tablet/Laptop Design */
@media screen and (min-width: 650px) {
  .btn {
    margin-top: 3rem;
    width: 70%;
    padding: .75rem;
  }
}